@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabriela', serif;
    font-weight: 400;
}

body {
    /* background-color: #000000; */
}

img {
    display: block;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
}

.book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1811px;
    height: 1030px;
    background-image: url('../img/book.png');
    background-position: 50% 50%;
    background-repeat:  no-repeat;
}

.book__pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 80px 101px 88px 101px;
    /* width: calc(100% - (86px + 15px)); */
}

.book__page {
    position: relative;
    width: calc(50% - 15.5px);
    padding: 35px 50px;
}

.book__avatar img {
    margin: 0 auto;
    width: 360px;
}

.book__info {
    max-width: 530px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.book__name {
    font-size: 36px;
    text-align: center;
    color: #876C51;
}

.book__status {
    margin-top: 35px;
    font-size: 20px;
    color: rgba(135, 108, 81, .7);
}

.book__social {
    display: flex;
    justify-content: center;
    max-width: 530px;
    margin: 50px auto 0 auto;
}

.book__social a {
    display: block;
    margin: 0 10px;
}

.book__social img {
    width: 50px;
    transition: transform .118s ease, filter .118s ease;
}

.book__social img:hover {
    transform: scale(1.08);
    filter: contrast(90%) saturate(230%);
}

.book__social img:active {
    transform: scale(1.0);
}

.book__sub-info {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%, 0);
    width: 530px;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
}

.book__sub-info span {
    font-size: 18px;
    color: #876C51;
}

.book__title {
    font-size: 36px;
    color: #876C51;
}

.book__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: rgba(135, 108, 81, .2);
}

.book__skills {
    width: 100%;
}

.book__skills__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.book__skills__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 318px;
    height: 130px;
    margin-bottom: 25px;
    padding-left: 115px;
}

.book__skills__item span {
    display: block;
    color: #876C51;
    font-size: 24px;
}

.book__bookmarks {
    position: absolute;
    right: -170px;
}

.book__bookmarks_top {
    top: 50px;
}

.book__bookmarks_bottom {
    bottom: 50px;
}

.book__bookmarks__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 101px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat:  no-repeat;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    transition: transform .118s ease, filter .118s ease;
}

.book__bookmarks__item:hover {
    filter: contrast(90%) brightness(1.23);
    transform: scale(1.02);
}

.book__bookmarks__item:active {
    transform: scale(1.0);
}













