* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color-scheme: dark;
}

body {
    background-color: #18191E;
}

img {
    display: block;
}

.root {
    max-width: 755px;
    margin: 0 auto;
}

.section {
    width: 100%;
}

.avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;
}

.relative {
    position: relative;
}

.color-white {
    color: #FFFFFF;
}

.color-white-transparent {
    color: rgba(255, 255, 255, 45%);
}

.color-black {
    color: #18191E;
}

.mt-200 {
    margin-top: 200px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-25 {
    margin-left: 25px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.p-35 {
    padding: 35px;
}

.fs-40 {
    font-size: 40px;
}

.fs-32 {
    font-size: 32px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.non-decor {
    text-decoration: none;
}

.non-user-select {
    user-select: none;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.shadow {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;
    transition: background-color .15s ease, box-shadow .15s ease;
}

.item-1 {
    width: 360px;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
    margin-bottom: 35px;
}

.item-1:nth-last-child(1) {
    margin-bottom: 0!important;
}

.item-1:nth-last-child(2) {
    margin-bottom: 0;
}

.item-1:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.item-2 {
    width: 228px;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
}

.item-2:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.item-ico {
    width: 30px;
}

.item-title {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(135deg, #9580FF 0, #80FFEA 60%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}

.item-desc {
    display: block;
}

.project, .project-p {
    max-height: 550px;
}

.project-img:hover {
    width: calc(100% + (35px + 35px));
    left: -35px;
}

.pswp-i-link {
    position: relative;
    top: 0;
    transition: top 0.218s ease;
}

.project-img:hover .pswp-i-link {
    top: 85px;
}

.pswp-i-img {
    display: block;
    width: 100%;
    border-radius: 25px;
    cursor: zoom-in;
}

.project-img {
    width: 100%;
    position: relative;
    top: -100px;
    left: 0;
    margin-bottom: 70px;
    transition: width .218s ease, left .218s ease, top .218s ease;
    z-index: 2;
}

.project-info {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
}

.footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
}

.footer:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.heart {
    display: inline-block;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-name: heart1;
}

.btn {
    display: block;
    width: calc(100% - (35px + 35px));
    margin: 35px auto 0 auto;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4F5CED;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: background-color .15s ease;
}

.btn:hover {
    background-color: #404EED;
}

@keyframes heart1 {
    0%   { transform: scale(1); }
    100% { transform: scale(1.15); }
}


@media screen and (max-width: 830px) {
    .root {
        max-width: 480px;
    }

    .item-1, .item-2 {
        width: 100%;
    }

    .item-1:nth-last-child(2) {
        margin-bottom: 35px;
    }

    .item-2 {
        margin-bottom: 35px;
    }
    
    .item-2:last-child {
        margin-bottom: 0;
    }

    .project {
        max-height: 719px;
        margin-bottom: 115px!important;
    }
    
    .project-p {
        max-height: 719px;
    }
}

@media screen and (max-width: 555px) {
    .root {
        max-width: 100%;
        padding: 0 25px;
    }

    .project {
        max-height: unset;
    }

    .project-p {
        max-height: unset;
    }

    .project-img {
        left: -35px;
        width: calc(100% + (35px + 35px));
    }

    .project-img:hover .pswp-i-link {
        top: unset;
    }
}
















