* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color-scheme: dark;
}

body {
    background-color: #18191E;
}

img {
    display: block;
}

.root {
    max-width: 755px;
    margin: 0 auto;
}

.section {
    width: 100%;
}

.avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;
}

.relative {
    position: relative;
}

.color-white {
    color: #FFFFFF;
}

.color-white-transparent {
    color: rgba(255, 255, 255, 45%);
}

.color-black {
    color: #18191E;
}

.mt-200 {
    margin-top: 200px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-25 {
    margin-left: 25px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.p-35 {
    padding: 35px;
}

.fs-40 {
    font-size: 40px;
}

.fs-32 {
    font-size: 32px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.non-decor {
    text-decoration: none;
}

.non-user-select {
    user-select: none;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.shadow {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;
    transition: background-color .15s ease, box-shadow .15s ease;
}

.item-1 {
    position: relative;
    width: 360px;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
    margin-bottom: 35px;
}

.kba {
    position: relative;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.kba-r {
    animation-play-state: running!important;
}

.kba-t {
    animation-name: t;
    animation-play-state: paused;
}

.kba-ltr {
    animation-name: ltr;
    animation-play-state: paused;
}

.kba-rtr {
    animation-name: rtr;
    animation-play-state: paused;
}

@keyframes t {
    0%, 20% {
        opacity: 0;
        top: 35px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes ltr {
    0%, 20% {
        transform: rotate(3deg);
        opacity: 0;
        top: 35px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
        top: 0;
    }
}

@keyframes rtr {
    0%, 20% {
        transform: rotate(-3deg);
        opacity: 0;
        top: 35px;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
        top: 0;
    }
}

.item-1:nth-last-child(1) {
    margin-bottom: 0!important;
}

.item-1:nth-last-child(2) {
    margin-bottom: 0;
}

.item-1:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.item-2 {
    width: 228px;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
}

.item-2:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.item-ico {
    width: 30px;
}

.item-title {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(135deg, #9580FF 0, #80FFEA 60%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}

.item-desc {
    display: block;
}

.project {
    margin-bottom: 115px;
}

.project, .project-p {
    max-height: 550px;
}

.project-img:hover {
    width: calc(100% + (35px + 35px));
    left: -35px;
}

.pswp-i-link {
    position: relative;
    top: 0;
    transition: top 0.218s ease;
}

.pswp-i-img {
    display: block;
    width: 100%;
    border-radius: 25px;
    cursor: zoom-in;
}

.project-img {
    width: 100%;
    position: relative;
    top: -100px;
    left: 0;
    margin-bottom: 70px;
    transition: width .218s ease, left .218s ease;
    transition-delay: .1s;
    z-index: 2;
}

.project-info {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
}

.footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 3%);
    border-radius: 25px;
}

.footer:hover {
    background-color: rgba(255, 255, 255, 5%);
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;
}

.heart {
    display: inline-block;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-name: heart1;
}

.stop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.stop-hidden {
    display: none;
}

.stop span {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    color: #F62A31;
    font-size: 64px;
    font-weight: 600;
    border: 1px solid transparent;
    
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-name: stop;
}

@keyframes stop {
    0% {
        border-top: 1px solid #F62A31;
        background-color: rgba(246, 42, 49, 0.1);
    }
    25% {
        border-left: 1px solid #F62A31;
        background-color: transparent;
    }
    50% {
        border-right: 1px solid #F62A31;
        background-color: rgba(246, 42, 49, 0.1);
    }
    75% {
        border-bottom: 1px solid #F62A31;
        background-color: transparent;
    }
    100% {
        border-top: 1px solid transparent;
        background-color: rgba(246, 42, 49, 0.1);
    }
}

.btn {
    position: relative;
    display: block;
    width: calc(100% - (35px + 35px));
    margin: 35px auto 0 auto;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4F5CED;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: all 0.6s cubic-bezier(0, 0.5, 0.35, 1);
}

.btn:hover {
    border-color: transparent;
    background-color: #404EED;
}

.btn-disabled {
    background-color: rgba(79, 92, 237, .3)!important;
    cursor: default!important;
}

.btn-disabled:hover {
    background-color: rgba(79, 92, 237, .1)!important;
}

svg {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

rect {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 1;
    stroke-dasharray: 0, 100;
    stroke-dashoffset: 50;
    transition: all 0.6s cubic-bezier(0, 0.5, 0.35, 1);
}

.btn:hover rect {
    stroke-dasharray: 100, 0;
    stroke-dashoffset: 0;
}

.btn:active rect {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2;
}

@keyframes heart1 {
    0% { transform: scale(1); }
    90% { transform: scale(1.17); }
    100% { transform: scale(1);}
}


@media screen and (max-width: 830px) {
    .root {
        max-width: 480px;
    }

    .item-1, .item-2 {
        width: 100%;
    }

    .item-1:nth-last-child(2) {
        margin-bottom: 35px;
    }

    .item-2 {
        margin-bottom: 35px;
    }
    
    .item-2:last-child {
        margin-bottom: 0;
    }

    .project {
        max-height: 719px;
        margin-bottom: 115px!important;
    }
    
    .project-p {
        max-height: 719px;
    }
}

@media screen and (max-width: 555px) {
    .root {
        max-width: 100%;
        padding: 0 25px;
    }

    .project {
        max-height: unset;
    }

    .project-p {
        max-height: unset;
    }

    .project-img {
        left: -35px;
        width: calc(100% + (35px + 35px));
    }

    .project-img:hover .pswp-i-link {
        top: unset;
    }
}
















