@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #131B29;
}

.body-overflow-hide {
    overflow: hidden;
}

.wrapper {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 884px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.header-btn {

}

.btn-bank {
    width: 248px;
    height: 40px;
    background-color: #D9113A;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 4px #D9113A, 0 4px 40px #D9113A;
    transition: color 0.218s ease, background-color 0.218s ease, font-size 0.218s ease, box-shadow 0.218s ease;
}

.btn-bank:hover {
    background-color: #D93354;
    font-size: 14.6px;
}

.btn-bank:active {
    box-shadow: 0 0 4px #D9113A, 0 4px 30px #D9113A;
    font-size: 14px;
}

.btn-bank:disabled {
    box-shadow: 0 0 4px #D9113A, 0 0 20px #D9113A;
    background-color: #D95E76;
    cursor: not-allowed;
}

.header-title {

}

.header-title-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 1px 10px #FFFFFF, 0 3px 30px #FFFFFF;
}

.htt-first {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #EC274F;
    padding-right: 12px;
    text-shadow: 0 1px 10px #EC274F, 0 3px 30px #EC274F;
}

.htt-first-circle {
    position: absolute;
    top: calc(50% - 3px);
    right: 2px;
    color: #EC274F;
    font-size: 6px;
    text-shadow: 0 1px 10px #EC274F, 0 3px 30px #EC274F;
    box-shadow: 0 1px 10px #EC274F;
}

.content {
    margin: 0 auto;
    max-width: 884px;
}

.content-header {
    width: 100%;
    padding: 30px;
    background-color: #283346;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.content-wrapper {
    width: 100%;
    padding: 50px;
    background-color: #1D2738;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: url("../img/waves.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-header-balance {
    color: #FFFFFF;
    text-align: right;
}

.content-header-balance-text {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.45;
    letter-spacing: 1px;
}

.balance {
    font-size: 16px;
    font-weight: 700;
    padding-left: 12px;
}

.balance-ico {
    color: #FFC800;
    font-size: 19px;
    padding-left: 12px;
}

.balance-flex {
    width: 248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.money {

}

.balance-btn {

}

.canvas-flex {
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

/* .canvas-flex-animate::before {
    height: 30px!important;
}

.canvas-flex-animate::after {
    height: 30px!important;
}

.canvas-flex::before, .canvas-flex::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.canvas-flex::before {
    position: absolute;
    top: -15px;
    left: -5px;
    transform: rotate(-45deg);
}

.canvas-flex::after {
    position: absolute;
    top: -15px;
    right: -5px;
    transform: rotate(45deg);
}

.canvas-flex-particle {

} */

.canvas {
    position: relative;
    width: 248px;
    height: 348px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 10px 0 10px;
}

.canvas:first-child {
    margin-left: 0;
}

.canvas:last-child {
    margin-right: 0;
}

.canvas-flash {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.cards {
    /* position: relative; */
    /* left: 0px; */
    /* width: max-content; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding: 12px 12px 12px 12px; */
    /* transition: all 6s cubic-bezier(0, 0.11, 0.33, 1) 0s; */
}

.c-m {
    /* float: left; */
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: #ebebeb; */
    margin: 22px 0 22px 0;
    /* margin: 12px 12px 12px 12px; */
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
}

.card-img {
    display: block;
    width: 64px;
    height: 64px;
}

.card-ico {
    color: #FFFFFF;
    font-size: 44px;
}

.button-block {
    margin-top: 50px;
    text-align: center;
}

.button-block-form {
    width: 248px;
    margin: 0 auto 35px auto;
}

.form-block {
    text-align: left;
}

.form-block-title {
    color: rgba(255, 255, 255, 0.45);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.input-block {
    position: relative;
}

.input-text {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 0 45px 0 20px;
    border: 2px solid #283346;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.input-text::-webkit-outer-spin-button,
.input-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-balance-ico {
    position: absolute;
    top: calc(50% - 5px);
    right: 15px;
    color: #FFC800;
    font-size: 19px;
}

.btn {
    width: 248px;
    height: 70px;
    background-color: #FFC800;
    border: 0;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 4px #FFC800, 0 4px 40px #FFC800;
    transition: color 0.218s ease, background-color 0.218s ease, font-size 0.218s ease, box-shadow 0.218s ease;
}

.btn:hover {
    color: rgba(0, 0, 0, 0.45);
    background-color: #FFDB3C;
    font-size: 16.6px;
}

.btn:active {
    font-size: 16px;
    box-shadow: 0 0 4px #FFC800, 0 4px 30px #FFC800;
}

.btn:disabled {
    box-shadow: 0 0 4px #FFC800, 0 0px 20px #FFC800;
    background-color: #FFE46E;
    cursor: not-allowed;
}

/* .btn {
    width: 248px;
    height: 44px;
} */

.background {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, .1); */
    /* backdrop-filter: blur(15px); */
    z-index: -2;
}

.bcg-item {
    position: absolute;
    width: 444px;
    height: 444px;
    border-radius: 50%;
    z-index: -2;
    /* opacity: .6; */
}

.bcg-item:nth-child(2) {
    top: 50%;
    left: 60%;
    background-color: rgba(0, 0, 255, .6);
}
.bcg-item:nth-child(3) {
    top: 40%;
    left: 10%;
    background-color: rgba(255, 0, 0, .6);
}
.bcg-item:nth-child(4) {
    top: 5%;
    left: 40%;
    background-color: rgba(207, 145, 29, 0.6);
}

.credit-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
    /* transition: opacity 0.218s cubic-bezier(0, 0.11, 0.33, 1) 0s; */
    /* transition: opacity 1s ease; */
}

.modal {
    display: none;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 448px;
    /* height: 388px; */
    padding: 22px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.notify-modal {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 348px;
    padding: 22px 52px 22px 22px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    /* transition: font-size 0.118s ease; */
}

.modal-close:hover {
    font-size: 24px;
}

.modal-close:active {
    font-size: 22px;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-description {
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.modal-description-notify {
    font-size: 16px;
    font-weight: 500;
}

.modal-credit-num {
    margin-top: 22px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.button {
    width: 47%;
    height: 46px;
    background-color: #EC274F;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    /* box-shadow: 0 0 4px #EC274F, 0 4px 40px #EC274F; */
    transition: color 0.218s ease, background-color 0.218s ease, font-size 0.218s ease, box-shadow 0.218s ease;
}

.button:hover {
    background-color: #D93354;
    font-size: 14.6px;
}

.button:active {
    font-size: 14px;
    /* box-shadow: 0 0 4px #D9113A, 0 4px 30px #D9113A; */
}

.button:disabled {
    /* box-shadow: 0 0 4px #D9113A, 0 0 20px #D9113A; */
    color: rgba(255, 255, 255, 0.7);
    background-color: #D95E76;
    cursor: not-allowed;
}

.get-money-btn {
    width: 100%!important;
    margin-top: 20px;
}

@media screen and (max-width: 948px) {
    .header {
        padding: 50px;
    }
}

@media screen and (max-width: 884px) {
    .canvas {
        width: 200px;
    }
}

@media screen and (max-width: 660px) {
    .canvas {
        width: 100px;
        height: 200px;
    }

    .c-m {
        height: 78px;
    }

    .card-img {
        width: 54px;
        height: 54px;
    }

    .modal {
        width: 90%;
    }

    .credit-modal {
        width: 90%;
    }

    .notify-modal {
        width: 90%;
    }

    .modal-description, .modal-credit-num {
        font-size: 20px;
    }

    .modal-description-notify {
        font-size: 18px;
    }
}

@media screen and (max-width: 660px) {
    .header {
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 130px;
    }

    .header-title {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 530px) {
    .header {
        padding: 30px 80px;
    }

    .modal {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding: 30px;
    }

    .content-wrapper {
        padding: 50px 0;
    }
}

@media screen and (max-width: 360px) {
    .canvas {
        margin: 0 4px 0 4px;
    }
}
