@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

html, body {
    /* height: 100vh; */
    background-color: #EDF1F5;
}

video {
    display: block;
}

.wrapper {
    /* max-width: 1920px; */
    margin: 0 auto;
}

.home {
    /* height: 100vh; */
    max-height: 1080px;
    padding: 0 0 100px 0;
    margin: 0 auto;
}

.home2 {
    /* height: 100vh; */
    max-height: none!important;
    padding: 0!important;
    margin: 0 auto!important;
    /* background-color: #000000; */
}

.header {
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
    padding: 50px 100px 0 100px;
    z-index: 10;
}

.header_2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__burger {
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    padding: 14px 8px;
    color: #2E2E2E;
    font-size: 24px;
    z-index: 11;
    transition: all .12s ease-out;
}

.header__burger:active {
    transform: scale(.97);
}

.header__burger__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__burger__item {
    width: 100%;
    height: 2px;
    background-color: #2E2E2E;
}

.header__content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__content_video {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 35px;
    border-radius: 50px;
    transition: background-color 0.218s ease;
}

.header__content_video:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.header__item {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg, #72B4FF, #006CE9);
    border-radius: 50%;
}

.title {
    margin: 0 0 0 50px;
    font-size: 28px;
    font-weight: 600;
}

.color_black {
    color: #2E2E2E;
}

.color_white {
    color: #FFFFFF;
}

.header__menu {
    display: flex;
    justify-content: flex-start;
    transition: opacity 0.218s ease;
}

.header__menu__link {
    display: block;
    padding: 15px 0;
    margin: 0 35px 0 0;
    font-size: 18px;
    text-decoration: none;
}

.header__menu__link:last-child {
    margin: 0;
}

.header__contacts {
    display: flex;
    justify-content: flex-start;
}

.header__contacts__item {
    display: flex;
    align-items: center;
    margin: 0 35px 0 0;
    font-size: 18px;
}

.header__contacts__item:last-child {
    margin: 0;
}

.header__contacts__item i {
    font-size: 22px;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__contacts__item span {
    margin-left: 20px;
}

.home__content {
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
    padding: 70px 100px 0 85px;
}

.home__content_video {
    position: relative;
    width: 100%;
    height: 180vh;
    /* height: 360vh; */
    z-index: 2;
    /* margin: 0 0 20vh 0; */
    /* overflow-x: hidden; */
}

.home__content_video__container {
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}

.home__content__video__arrow__container {
    display: none;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    z-index: 3;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    cursor: pointer;
    transition: color .218s ease, font-size .118s ease;
}

.home__content__video__arrow__container:hover {
    color: rgba(255, 255, 255, 0.88);
}

.home__content__video__arrow__container:active {
    font-size: 18px;
}

.video_full {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
}

.main-vid {
    display: none;
    position: fixed;
    z-index: 2;
}

.transition-vid__container {
    height: 100vh;
    position: sticky;
    top: 0;
}

.transition-vid {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* height: 200vh; */
    z-index: 3;
}

.air-vid_video__container {
    height: 100vh;
}

.air-vid_video {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-categories__body {
    margin: 15px 0;
    overflow-y: auto;
}

.home-categories__body::-webkit-scrollbar {
    width: 0;
}

.home-categories {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
}

.home-categories::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0, -50%);
    width: 2px;
    height: 500px;
    background-color: #CED2D6;
}

.home-categories__arrow {
    color: #9D9FA9;
    text-align: center;
}

.home-categories__content {
    position: relative;
    width: 100px;
    /* margin: 0 0 35px 0; */
    max-height: 674px;
    /* overflow-y: auto; */
}

.home-categories__item {
    text-align: center;
    margin: 35px 0 0 0;
    cursor: pointer;
}

.home-categories__item:active .home-categories__icon {
    transform: scale(.97);
}

.home-categories__item:first-child {
    margin: 15px 0 0 0;
}

.hci__phantom_hide {
    opacity: 0!important;
}

.home-categories__item:hover .home-categories__icon .hci__phantom {
    opacity: 1;
}

.home-categories__item:hover .home-categories__icon .hci__main {
    opacity: 0;
}

.home-categories__icon {
    position: relative;
    transition: all .12s ease-out;
}

.hci__phantom {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

.text-gradient {
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-categories__icon i {
    color: #2C2E33;
    font-size: 38px;
    transition: opacity 0.218s ease;
}

.home-categories__name {
    color: #2C2E33;
    font-size: 14px;
    margin: 15px 0 0 0;
}

.home-info {
    min-width: 462px;
    margin: 0 75px 0 112px;
}

.home-info__title {
    height: 250px;
    position: relative;
    border-top: 2px solid #CED2D6;
    border-bottom: 2px solid #CED2D6;
    /* padding: 45px 0 45px 0; */
}

.home-info__title::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: -156px;
    bottom: calc(50% - 15px);
    background-color: #EDF1F5;
    border-radius: 25px;
}

.home-info__title__text {
    display: block;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 600;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
}

.home-info__title__fantom {
    position: absolute;
    top: 45px;
}

.home-info__title__fantom-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 600;
    /* background-color: #006CE9; */
    color: transparent;
    padding: 30px 15px 30px 0;
    border-radius: 25px;
}

.home-info__features {
    margin: 50px 0;
}

.home-info__features__item {
    margin: 0 0 50px 0;
}

.home-info__features__item-flex {
    display: flex;
    justify-content: space-between;
}

.home-info__features__i {

}

.home-info__features__desc-text {
    display: block;
    color: #2E2E2E;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.gray-text {
    color: #8F919A!important;
}

.home-info__features__main-text {
    display: block;
    color: #2E2E2E;
    font-size: 32px;
    font-weight: 700;
}

.home-info__features__main-text2 {
    display: block;
    color: #2E2E2E;
    font-size: 38px;
    font-weight: 700;
}

.desc-text_small {
    color: #8F919A;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 0 4px;
}

.home-info__other {
    /* margin: 50px 0 0 0; */
}

.btn {
    position: relative;
    width: 185px;
    height: 55px;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(90deg, #72B4FF, #006CE9);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
    z-index: 1;
    /* transition: box-shadow 0.218s ease; */
    transition: all .12s ease-out;
}

.btn:hover {
    box-shadow: none;
}

.btn:active {
    transform: scale(.97);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: linear-gradient(-90deg, #72B4FF, #006CE9);
    opacity: 0;
    transition: opacity 0.218s ease;
    z-index: -1;
}

.btn:hover::before {
    opacity: 1;
    background: linear-gradient(-90deg, #72B4FF, #006CE9);
}

.home-gallery {
    display: flex;
    height: 100%;
    justify-content: flex-start;
}

.home-gallery_mobile {
    display: none;
    width: 100%;
}

.home-gallery_mobile__container {

}

.home-gallery__item {

}

.home-gallery__img {
    border-radius: 50px;
    background-position: center;
}

.home-gallery__item:first-child {
    margin: 0 35px 0 0;
}

.hg_1 {
    min-width: 522px;
}

.hg_2 {
    width: 409px;
}

.hg-i_1 {
    width: 100%;
    height: 100%;
    background-image: url('../img/n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hg-i_2 {
    width: 100%;
    height: calc(50% - 18px);
    background-image: url('../img/n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hg-i_2:last-child {
    margin: 35px 0 0 0;
}

.home__line {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 70px 0 0 122px;
    z-index: 1;
}

.home__line::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 2px;
    background-color: #CED2D6;
    z-index: -1;
}

.home__line__item {
    padding: 0 25px;
    background-color: #EDF1F5;
}

.home__line__item:first-child {
    padding: 0 25px 0 0;
}

.home__line__item:last-child {
    padding: 0 0 0 25px;
}

.home__line__item_btn {
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    user-select: none;
    transition: color 0.218s ease;
}

.home__line__item_btn:hover {
    color: #006CE9;
}

.home__content_container {
    position: relative;
    /* flex-grow: 1; */
}

/* .home__content_container:last-child {
    width: 1615px;
} */

.home__models {
    position: relative;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 0 100px;
    overflow-y: auto;
    z-index: 5;
}

.home__models__close {
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    right: -43px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 6;
    cursor: pointer;
    transition: box-shadow 0.218s ease;
}

.home__models__close:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.06);
}

.hmc {
    width: 100%;
    height: 100%;
}

.home__models__close i {
    font-size: 20px;
}

.home__models__container {
    padding: 0 50px 0 0;
}

.home__models__item {
    max-width: 420px;
    margin-bottom: 75px;
}

.home__models__img__container {

}

.home__models__img {
    display: block;
    width: 420px;
    height: 420px;
    border-radius: 50px;
    background-image: url('../img/n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home__models__info {
    max-width: 400px;
    margin: 60px auto 0 auto;
}

.about {

}

.about__content {

}

.block__name {
    text-align: center;
}

.block_padding_down {
    padding: 0 0 100px 0;
}

.block__title {
    display: block;
    text-align: center;
    color: #2E2E2E;
    font-size: 42px;
    font-weight: 700;
}

.block__description {
    margin: 25px 0 0 0;
    color: #9A9A9A;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.about__container {
    margin: 100px 0 0 0;
}

.about__text__container {
    margin: 0 100px 0 0;
}

.about_text {
    color: #9A9A9A;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
}

.about__img__container {

}

.about__img {
    display: block;
    width: 683px;
    height: 683px;
    border-radius: 50px;
}

.about-num {
    padding: 100px 0;
}

.about-num__item {
    width: 150px;
    height: 120px;
    margin: 0 100px;
    text-align: center;
}

.about-num__item:first-child {
    margin-left: 0;
}

.about-num__item:last-child {
    margin-right: 0;
}

.about-num__item__content {
    display: flex;
    justify-content: space-between;
}

.about-num__item__content:first-child {
    margin-right: 100px;
}

.about-num__number {
    display: block;
    font-size: 48px;
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-num__description {
    display: block;
    color: #2E2E2E;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0;
}

.advantages {
    width: 100%;
    min-height: 1080px;
    background-color: #FFFFFF;
}

.advantages__content {
    padding: 100px 0 100px 0;
}

.advantages__container {
    padding: 52px 200px 0 0;
}

.advantages__item {

}

.advantages__item__illustration {
    width: 52%;
}

.advantages__illustration {
    width: 100%;
    height: 600px;
    padding: 0 75px 0 0;
    background: linear-gradient(90deg, #72B4FF, #006CE9);
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}

.advantages__img {
    width: 440px;
    height: 440px;
    border-radius: 75px;
}

.advantages__features {
    max-width: 638px;
}

.advantages__features__item {
    margin: 0 0 50px 0;
}

.advantages__features__item:last-child {
    margin-bottom: 0;
}

.advantages__features__icon {
    width: 100px;
    height: 100px;
    background-color: #EDF1F5;
    border-radius: 35px;
}

.advantages__features__icon i {
    display: block;
    font-size: 40px;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacts__data__item__icon {
    width: 100px;
    height: 100px;
    background-color: #EDF1F5;
    border-radius: 35px;
}

.contacts__data__item__icon i {
    display: block;
    font-size: 40px;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantages__features__text {
    width: calc(100% - 135px);
    margin: 0 0 0 35px;
}

.contacts__data__text {
    width: calc(100% - 135px);
    margin: 0 0 0 35px;
}

.advantages__features__title {
    display: block;
    color: #2E2E2E;
    font-size: 24px;
    font-weight: 700;
}

.advantages__features__description {
    display: block;
    margin: 20px 0 0 0;
    color: #959595;
    font-size: 18px;
    font-weight: 500;
}

.work {
    width: 100%;
    min-height: 1080px;
    background-color: #EDF1F5;
}

.work__content {
    max-width: 1900px;
    margin: 0 auto;
    padding: 100px;
}

.work__container {

}

.work__gallery {
    position: relative;
}

.work__gallery__container {
    /* padding: 0 0 0 10px; */
}

.work__img__container {
    display: none;
    width: 540px;
    height: 540px;
    /* margin: 0 17px; */
    /* flex-shrink: 0; */
}

.work__img {
    border-radius: 75px;
    /* display: block;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    background-image: url('../img/n.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.hi {
    display: none;
}

.hi_active {
    display: flex!important;
}

#kb_3 {
    width: 100%;
    /* height: calc(100% - 92px); */
}



.anim_show_w_right {
    animation-name: anim_show_w_right;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.anim_hide_w_right {
    animation-name: anim_hide_w_right;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.anim_show_border_50 {
    animation-name: anim_show_border_50;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.anim_show_border_75 {
    animation-name: anim_show_border_75;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.anim_show_up {
    animation-name: anim_show_up;
    animation-duration: 1s;
    /* animation-timing-function: ease; */
}

.anim_show_down {
    animation-name: anim_show_down;
    animation-duration: 1s;
}

.op1 {
    opacity: 1;
}

.op0 {
    opacity: 0;
}

@keyframes anim_show_up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes anim_show_down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes anim_hide_w_right {
    from {
        opacity: 1;
        width: 100%;
    }

    99% { opacity: 1; }

    to {
        opacity: 1;
        width: 0;
    }
}

@keyframes anim_show_w_right {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes anim_show_border_75 {
    from {
        opacity: 0;
        width: 0;
        border-radius: 0;
    }

    to {
        opacity: 1;
        width: 100%;
        border-radius: 75px;
    }
}

@keyframes anim_show_border_50 {
    from {
        opacity: 0;
        width: 0;
        border-radius: 0;
    }

    to {
        opacity: 1;
        width: 100%;
        border-radius: 50px;
    }
}

.work__img:first-child {
    margin-left: 0;
}

.work__img:last-child {
    margin-right: 0;
}

.work__line {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
    z-index: 1;
}

.work__line::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 2px;
    background-color: #CED2D6;
    z-index: -1;
}

.map {
    display: block;
    width: 1168px;
    height: 860px;
    border-radius: 50px;
    box-shadow: -30px 30px 0 #EDF1F5;
}

.contacts__data {
    width: 400px;
}

.contacts__data__item {
    margin: 0 0 50px 0;
}

.contacts__data__item2 {
    margin: 0 50px 0 0;
}

.contacts__social {

}

.contacts__social__item {
    margin: 0 50px 0 0;
}
.contacts__social__item:last-child {
    margin-right: 0;
}

.contacts__data__title {
    display: block;
    color: #2E2E2E;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
}

.footer {
    position: relative;
}

.footer__menu {
    width: 458px;
}

.footer__menu__link {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
}

.footer__menu__item {

}

.footer__arr {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    opacity: 40%;
}

.gallery__arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
}

.gallery__arrow {
    width: 80px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0;
    outline: none;
}

.gallery__arrow:first-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gallery__arrow:last-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.gallery__arrow i {
    color: #000000;
    font-size: 42px;
}

.desc-img {
    position: relative;
    z-index: 3;
}

.desc-img__container {

}

.desc-img__content {
    position: relative;
    width: 50%;
    height: 900px;
    overflow: hidden;
}

.desc-img__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .218s ease;
}

.desc-img__content:hover .desc-img__img {
    transform: scale(1.08);
}

.desc-img__description {
    width: 100%;
    display: block;
    padding: 25px;
    /* border-radius: 35px; */
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
}

.configurator {

}

.configurator__container {
    width: 100%;
    position: relative;
}

.configurator__visualizer {
    position: relative;
    width: calc(100% - 570px - 50px);
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #006CE9;
    overflow: hidden;
}

.configurator__visualizer__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.configurator__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 570px;
    height: auto;
}

.configurator__search {
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
}

.cit_search_ico {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-size: 21px;
    background: -webkit-linear-gradient(0deg, #72B4FF, #006CE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.configurator__input__text {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    color: #2E2E2E;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 20px 0 66px;
    outline: none;
    transition: border-color .218s ease;
}

.configurator__input__text:focus {
    border-color: #CED2D6;
}

.configurator__options {
    width: 100%;
}

.configurator__category {
    width: 100%;
    margin-bottom: 35px;
}

.configurator__category__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    cursor: pointer;
}

.configurator__category__top i {
    color: #9D9FA9;
    font-size: 14px;
}

.configurator__category__title {
    display: block;
    padding-top: 2px;
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
}

.configurator__category__body {
    width: 100%;
}



/* ------- */
.block {
    position: relative;
    width: 100%;
    z-index: 1;
}

.block_height {
    min-height: 1080px;
}

.block_full_height {
    height: 100vh;
}

.block_white {
    background-color: #FFFFFF;
}

.block_blue {
    background-color: #EDF1F5;
}

.block_black {
    background-color: #151515;
}

.block__content {
    max-width: 1900px;
    margin: 0 auto;
}

.block__container {

}

.block_padding {
    padding: 100px;
}

.block_padding_top_50 {
    padding-top: 50px;
}

.block_sticky {
    position: sticky;
    top: 0;
}


.block_flex {
    display: flex;
}

.block_flex_c {
    justify-content: center;
}

.block_flex_sb {
    justify-content: space-between;
}

.block_flex_fs {
    justify-content: flex-start;
}

.block_flex_fe {
    justify-content: flex-end;
}

.block_flex_align-center {
    align-items: center;
}

.block_flex_wrap {
    flex-wrap: wrap;
}

.block_flex_col_reverse {
    flex-direction: column-reverse;
}

.block_flex_row_reverse {
    flex-direction: row-reverse;
}

.hg {
    height: 701px;
}




.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: linear-gradient(90deg, #72B4FF, #006CE9);
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
}

@media screen and (max-width: 1900px) {
    .home {
        
    }

    .title {
        margin: 0 0 0 40px;
        font-size: 26px;
    }

    .header__menu__link {
        margin: 0 25px 0 0;
        font-size: 18px;
    }

    .home-info {
        min-width: 400px;
        margin: 0 55px 0 90px;
    }
    
    .home-info__title__text {
        font-size: 56px;
    }

    .home-info__title {
        height: 226px;
    }

    .home__models {
        margin-left: 50px;
    }
    
    .home-info__title::before {
        right: -136px;
    }

    .home-categories__body {
        height: 671px;
    }

    /* .home__content_container:last-child {
        width: 1440px;
    } */

    .hg {
        height: 645px;
    }

    .hg_1 {
        min-width: 480px;
    }

    .hg_2 {
        width: 380px;
        align-items: stretch;
    }

    .hg-i_2 {

        height: calc(50% - 18px);
    }

    .work__img__container {
        width: 440px;
        height: 440px;
    }
}

@media screen and (max-width: 1880px) {
    .map {
        width: 1000px;
        height: 736px;
    }

    .about__img {
        width: 583px;
        height: 583px;
    }

    .advantages__container {
        padding: 52px 100px 0 0;
    }

    .advantages {
        min-height: unset!important;
    }

    .work {
        min-height: unset!important;
    }

    .contacts {
        min-height: unset!important;
    }
}

@media screen and (max-width: 1800px) {
    .desc-img__content {
        height: calc(100vw / 2 - 60px);
    }

    .desc-img__description {
        padding: 15px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1760px) {
    .header__menu__link {
        margin: 0 25px 0 0;
        font-size: 16px;
    }

    .header__contacts__item {
        margin: 0 25px 0 0;
        font-size: 16px;
    }

    .header__contacts__item i {
        font-size: 18px;
    }

    .title {
        margin: 0 0 0 40px;
        font-size: 22px;
    }
}

@media screen and (max-width: 1730px) {
    .header {
        padding: 50px 80px 0 80px;
    }

    .home__content {
        margin: 0 auto;
        padding: 70px 80px 0 65px;
    }
}

@media screen and (max-width: 1690px) {
    .map {
        width: 800px;
        height: 100%;
    }

    .advantages__features__icon {
        width: 75px;
        height: 75px;
        border-radius: 20px;
    }

    .advantages__features__icon i {
        font-size: 28px;
    }

    .contacts__data__item__icon {
        width: 75px;
        height: 75px;
        border-radius: 20px;
    }

    .contacts__data__item__icon i {
        font-size: 28px;
    }
    

    .contacts__data__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 1670px) {
    .home {
        
    }

    .title {
        margin: 0 0 0 40px;
        font-size: 22px;
    }

    .header__menu__link {
        margin: 0 25px 0 0;
        font-size: 16px;
    }

    .home-info {
        min-width: 360px;
        margin: 0 55px 0 80px;
    }
    
    .home-info__title__text {
        font-size: 48px;
    }

    .home-info__title {
        height: 190px;
    }
    
    .home-info__title::before {
        top: 22px;
        right: -106px;
    }

    .home-categories__body {
        height: 586px;
    }

    /* .home__content_container:last-child {
        width: 1270px;
    } */

    .hg {
        height: 564px;
    }

    .hg_1 {
        min-width: 420px;
    }

    .hg_2 {
        width: 320px;
        align-items: stretch;
    }

    .hg-i_2 {
        height: calc(50% - 18px);
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        padding: 50px 80px 0 65px;
    }

    .home-categories__icon i {
        font-size: 32px;
    }

    .advantages__features__title {
        font-size: 20px;
    }

    .advantages__features__description {
        font-size: 16px;
    }

    .advantages__item__illustration {
        width: 45%;
    }

    .home__models__img {
        width: 320px;
        height: 320px;
    }

    .home__models__btn {
        width: 150px;
    }
}

@media screen and (max-width: 1600px) {
    .work__img__container {
        width: 512px;
        height: 512px;
    }
}

@media screen and (max-width: 1515px) {
    .home {
        
    }

    .title {
        margin: 0 0 0 40px;
        font-size: 20px;
    }

    .header__menu__link {
        margin: 0 25px 0 0;
        font-size: 16px;
    }

    .home-info {
        min-width: 320px;
        margin: 0 55px 0 80px;
    }
    
    .home-info__title__text {
        font-size: 44px;
    }

    .home-info__title {
        height: 160px;
    }
    
    .home-info__title::before {
        top: 12px;
        right: -106px;
    }

    .home-categories__body {
        height: 505px;
    }

    /* .home__content_container:last-child {
        width: 1124px;
    } */

    .hg {
        height: 483px;
    }

    .hg_1 {
        min-width: 360px;
    }

    .hg_2 {
        width: 274px;
        align-items: stretch;
    }

    .hg-i_2 {
        height: calc(50% - 18px);
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        padding: 50px 80px 0 65px;
    }

    .home-info__features__main-text {
        font-size: 26px;
    }
    
    .home-info__features__main-text2 {
        font-size: 32px;
    }

    .home-info__features__desc-text {
        font-size: 14px;
    }

    .desc-text_small {
        font-size: 14px;
    }

    .about__img {
        width: 483px;
        height: 483px;
    }
}

@media screen and (max-width: 1470px) {
    .map {
        width: 600px;
        height: 100%;
    }
}

@media screen and (max-width: 1450px) {
    .contacts__data__conatainer2 {
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }

    .contacts__social2 {
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
    }

    .contacts__data2 {
        margin: 0 auto 50px auto;
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1390px) {
    .advantages__item__illustration {
        display: none;
    }

    .advantages__container  {
        width: 100%;
        justify-content: center!important;
        padding: 0;
    }

    .advantages__features__item  {
        display: block;
    }

    .advantages__features__icon  {
        margin: 0 auto;
    }

    .advantages__features__text {
        width: 100%;
        text-align: center;
        margin: 25px auto 0 auto;
    }
}

@media screen and (max-width: 1370px) {
    .title {
        margin: 0 0 0 40px;
        font-size: 20px;
    }

    .header {
        max-width: 1055px;
        padding-left: 0;
        padding-right: 0;
    }

    .header__menu__link {
        margin: 0;
        font-size: 16px;
    }

    .home__models {
        margin-left: 0;
    }

    .home__models__container {
        /* display: block; */
        padding: 0;
    }

    .home-info {
        min-width: 320px;
        margin: 0 55px 0 0;
    }
    
    .home-info__title__text {
        font-size: 44px;
    }

    .home-info__title {
        height: 190px;
    }
    
    .home-info__title::before {
        top: 26px;
        right: -106px;
    }

    .home-categories__body {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .home-categories__item:first-child {
        margin: 0 15px 0 15px;
    }

    /* .home__content_container:last-child {
        width: 1044px;
    } */

    .hg {
        height: 483px;
    }

    .hg_1 {
        min-width: 360px;
    }

    .hg_2 {
        width: 274px;
        align-items: stretch;
    }

    .hg-i_2 {
        height: calc(50% - 18px);
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        max-width: 1200px;
    }

    .home-info__features__main-text {
        font-size: 26px;
    }
    
    .home-info__features__main-text2 {
        font-size: 32px;
    }

    .home-info__features__desc-text {
        font-size: 14px;
    }

    .desc-text_small {
        font-size: 14px;
    }

    .home__container {
        display: block!important;
    }

    .home-categories {
        width: 760px;
        height: auto;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .home-categories__content {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        max-width: 674px;
    }
    
    .home-categories::after {
        content: '';
        display: block;
        position: absolute;
        top: auto;
        right: auto;
        bottom: -35px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 500px;
        height: 2px;
    }

    .home-categories__item {
        margin: 0 15px 0 15px;
    }

    .hc {
        display: block!important;
        width: 100%;
        margin: 0 auto 100px auto;
    }

    .home-categories__body {
        width: 100%;
        overflow-y: unset;
        overflow-x: auto;
    }

    .home-categories__arrow {
        padding: 0 10px;
    }

    .home-categories__arrow i {
        transform: rotate(-90deg);
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 0px;
        left: -20px;
        right: -20px;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 25px;
        padding: 50px;
        z-index: 10;
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.1);
    }

    .header__menu__link  {
        font-weight: 700;
        margin: 0;
    }

    .header__menu__container {
        
    }

    .header__contacts__container {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .about__img {
        width: 483px;
        height: 483px;
    }

    .about-num__item {
        margin: 0 50px;
    }

    .about-num__item__content:first-child {
        margin-right: 50px;
    }

    .home__models__info  {
        display: block;
        text-align: center;
        margin-top: 35px;
    }

    .home__models__info__info {
        margin-bottom: 35px;
    }

    .home__models__close {
        top: unset;
        right: calc(50% - 25px);
        bottom: -58px;
        /* transform: translate(-50%, 0); */
    }
}

@media screen and (max-width: 1290px) {
    .map {
        width: 100%;
        height: 625px;
    }

    .contacts__container, .contacts__container .block_item {
        width: 100%;
        display: block!important;
    }

    .contacts__data__body {
        display: block;
    }

    .contacts__data__conatainer {
        display: flex;
        justify-content: space-evenly;
    }

    .contacts__social:first-child {
        padding-top: 0;
    }

    .about__img {
        width: 383px;
        height: 383px;
    }

    .work__img__container {
        width: 440px;
        height: 440px;
    }

    /* .home__content_container:last-child {
        width: 100%;
    } */
}

@media screen and (max-width: 1190px) {
    .home {
        
        max-height: none;
    }

    .title {
        margin: 0 0 0 40px;
        font-size: 20px;
    }

    .header {
        max-width: 669px;
        padding-left: 0;
        padding-right: 0;
    }

    .header__menu__link {
        font-size: 16px;
    }

    .home-info {
        width: 100%;
        max-width: 669px;
        margin: 100px 0 0 0;
    }
    
    .home-info__title__text {
        font-size: 64px;
    }

    .home-info__title {
        height: 250px;
    }
    
    .home-info__title::before {
        right: 0;
    }

    .hg {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .hg_1 {
        min-width: 360px;
        height: 483px;
    }

    .hg_2 {
        width: 274px;
        align-items: stretch;
    }

    .hg-i_2 {
        height: calc(50% - 18px);
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        width: 100%;
        padding: 50px 35px 0 35px;
    }

    .home-info__features__main-text {
        font-size: 32px;
    }
    
    .home-info__features__main-text2 {
        font-size: 38px;
    }

    .home-info__features__desc-text {
        font-size: 16px;
    }

    .desc-text_small {
        font-size: 16px;
    }

    .home__container {
        display: block!important;
    }

    .home-categories {
        width: 100%;
        max-width: 760px;
        height: auto;
        margin: 0 auto;
    }

    .hc {
        display: block!important;
        width: 100%;
        margin: 0 auto 100px auto;
    }

    .home__item {
        justify-content: center;
    }

    .home__line {
        max-width: 669px;
        margin: 70px auto 0 auto;
    }

    .about__img {
        display: none;
    }

    .about__text__container {
        margin: 0;
    }

    .about {
        min-height: unset;
    }

    .home__models__container {
        max-width: 672px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1140px) {
    .work__img__container {
        width: 380px;
        height: 380px;
    }
}

@media screen and (max-width: 1080px) {
    .about-num {
        display: block;
    }

    .about-num__item__content {
        justify-content: center;
    }

    .about-num__item__content:first-child {
        margin: 0 0 100px 0;
    }

    .footer__container {
        display: block;
    }

    .footer {
        padding: 100px 0;
    }

    .footer__menu {
        margin: 15px auto;
    }

    .footer__logo {
        margin: 0 auto 50px auto;
    }

    .contacts__data__conatainer {
        display: block;
        margin: 0 auto;
    }

    .contacts__data {
        width: fit-content;
        margin: 0 auto;
    }

    .contacts__social__container {
        width: fit-content;
        margin: 0 auto 75px auto;
    }

    .contacts__social__item {
        margin: 0 40px 0 0;
    }
    
    .contacts__data__conatainer2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .work__img__container {
        width: 440px;
        height: 440px;
    }

    .work__gallery__container {
        justify-content: center;
    }
}

@media screen and (max-width: 874px) {
    .contacts__data2 {
        display: block;
    }

    .contacts__data__item2  {
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 960px) {
    .desc-img__container {
        flex-direction: column;
    }

    .desc-img__content {
        width: 100%;
        height: calc(100vw - 60px);
    }
}

@media screen and (max-width: 742px) {
    .title {
        margin: 0 0 0 40px;
        font-size: 20px;
    }

    .header {
        padding: 50px 35px 0 35px;
    }

    .header__menu__link {
        font-size: 16px;
    }

    .home-info {
        width: 100%;
        max-width: 669px;
        margin: 100px 0 0 0;
    }
    
    .home-info__title__text {
        font-size: 54px;
    }

    .home-info__title {
        height: 240px;
    }
    
    .home-info__title::before {
        right: 0;
    }

    .hg {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .hg_1 {
        min-width: 280px;
        height: 376px;
    }

    .hg_2 {
        width: 209px;
        align-items: stretch;
    }

    .hg-i_2 {
        height: calc(50% - 18px);
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        width: 100%;
        padding: 50px 35px 0 35px;
    }

    .home-info__features__main-text {
        font-size: 32px;
    }
    
    .home-info__features__main-text2 {
        font-size: 38px;
    }

    .home-info__features__desc-text {
        font-size: 16px;
    }

    .desc-text_small {
        font-size: 16px;
    }

    .home__container {
        display: block!important;
    }

    .home-categories {
        width: 100%;
        max-width: 760px;
        height: auto;
        margin: 0 auto;
    }

    .hc {
        display: block!important;
        width: 100%;
        margin: 0 auto 100px auto;
    }

    .home__item {
        display: block;
        width: 100%;
    }

    .home__line {
        max-width: 669px;
        margin: 70px auto 0 auto;
    }

    .home-gallery {
        display: none;
    }

    .home-gallery_mobile {
        display: block;
    }

    .contacts__content {
        padding: 100px 0;
    }

    .contacts__name {
        padding-left: 35px;
        padding-right: 35px;
    }

    .contacts__data {
        width: fit-content;
    }

    .block__title {
        font-size: 32px;
    }

    .block__description {
        font-size: 18px;
    }

    .map {
        border-radius: 0;
        box-shadow: none;
    }

    .contacts__content  {
        padding-bottom: 0;
    }

    .advantages__content {
        padding-left: 35px;
        padding-right: 35px;
    }

    .about_text {
        font-size: 18px;
    }

    .about__content {
        padding: 100px 35px;
    }

    .about-num__number {
        font-size: 32px;
    }

    .about-num__description {
        font-size: 18px;
    }
    
    .home__models__container  {
        display: block;
    }

    .home__models__item {
        margin: 0 auto 50px auto;
    }

    .home__models__item:last-child {
        margin: 0 auto 0 auto;
    }

    .home__models__img {
        margin: 0 auto;
    }
    
    .contacts__data__conatainer2 {
        max-width: 90%;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 640px) {

    .work__content {
        padding-left: 0;
        padding-right: 0;
    }

    .contacts__social2  {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contacts__social2 .contacts__social__item {
        margin: 10px 10px 10px 0;
    }

    .contacts__social2 .contacts__social__item .advantages__features__icon i {
        font-size: 22px;
    }

    .contacts__social2 .contacts__social__item .advantages__features__icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .contacts__data__item2 .contacts__data__item__icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .contacts__data__item2 .contacts__data__item__icon i {
        font-size: 22px;
    }

    .contacts__data__item2 .contacts__data__text .contacts__data__title {
        font-size: 16px;
        white-space: nowrap;
    }
}


@media screen and (max-width: 595px) {
    .title {
        margin: 0 0 0 40px;
        font-size: 20px;
    }

    .header__menu__link {
        font-size: 16px;
    }

    .home-info {
        width: 100%;
        max-width: 669px;
        margin: 100px 0 0 0;
    }
    
    .home-info__title__text {
        font-size: 54px;
    }

    .home-info__title {
        height: 240px;
    }
    
    .home-info__title::before {
        right: 0;
    }

    .hg {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .hg_1 {
        width: 100%;
        height: 376px;
    }

    .hg_2 {
        width: 100%;
        align-items: stretch;
    }

    .hg-i_2 {
        height: 100%;
    }

    .home-info__features {
        margin: 35px 0;
    }

    .home-info__features__item {
        margin: 0 0 35px 0;
    }

    .header__contacts {
        display: block;
    }

    .header__contacts__item {
        margin: 0 0 15px 0;
    }

    .header__contacts__item:last-child {
        margin: 0;
    }

    .home__content {
        width: 100%;
        padding: 50px 35px 0 35px;
    }

    .home-info__features__main-text {
        font-size: 32px;
    }
    
    .home-info__features__main-text2 {
        font-size: 38px;
    }

    .home-info__features__desc-text {
        font-size: 16px;
    }

    .desc-text_small {
        font-size: 16px;
    }

    .home__container {
        display: block!important;
    }

    .home-categories {
        width: 100%;
        max-width: 760px;
        height: auto;
        margin: 0 auto;
    }

    .hc {
        display: block!important;
        width: 100%;
        margin: 0 auto 100px auto;
    }

    .home__line {
        max-width: 669px;
        margin: 70px auto 0 auto;
    }
    
    .home-categories::after {
        content: '';
        display: block;
        position: absolute;
        top: auto;
        right: auto;
        bottom: -35px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: 2px;
    }
}

@media screen and (max-width: 564px) {
    
    .home-info__title {
        height: 200px;
    }

    .home-info__title__text {
        font-size: 46px;
    }

    .footer__menu {
        display: block;
        text-align: center;
        margin-bottom: 35px;
        width: 100%;
    }

    .desc-img__description {
        padding: 5px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 508px) {
    .advantages__features__icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .advantages__features__icon i {
        font-size: 22px;
    }

    .contacts__data__item__icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .contacts__data__item__icon i {
        font-size: 22px;
    }

    .contacts__data__title {
        font-size: 16px;
        white-space: nowrap;
    }

    .contacts__social__container {
        width: 240px;
    }

    .about_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 490px) {
    .header__menu {
        top: -10px;
    }

    .home-info__title__text {
        font-size: 36px;
    }

    .block__title {
        font-size: 24px;
    }

    .block__description {
        font-size: 16px;
    }

    .about-num__item__content {
        display: block;
        margin: 0 auto;
    }

    .about-num__item__content:first-child {
        margin: 0 auto 35px auto;
    }

    .about-num__item {
        margin: 0 auto 35px auto;
    }

    .about-num__item:first-child {
        margin: 0 auto 35px auto;
    }

    .about-num__item:last-child {
        margin: 0 auto;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .title {
        margin: 0 0 0 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 404px) {
    
    .home-info {
        min-width: unset;
    }

    .home-info__title__text {
        font-size: 28px;
    }

    .home-info__title {
        height: 140px;
    }

    .home-info__features__desc-text {
        font-size: 14px;
    }

    .home-info__features__main-text {
        font-size: 24px;
    }

    .home-info__features__main-text2 {
        font-size: 28px;
    }

    .desc-text_small {
        font-size: 14px;
    }

    .home__models__img {
        width: 280px;
        height: 280px;
    }

    .about_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 366px) {
    .contacts__social__container2 {
        /* max-width: 80%; */
    }

    .contacts__social2 {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 360px) {
    .home__models__img {
        width: 220px;
        height: 220px;
    }

    .home__content {
        padding: 50px 10px 0 10px;
    }
}

















