@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FAFAFA;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.combo-box-cat {
    position: relative;
    width: 284px;
}

.combo-box-cat__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.combo-box-cat__input {
    display: block;
    width: 100%;
    color: #303030;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0778); /* 0.0578 */
    border-radius: 4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.0778); /* 0.0578 */
    outline: none;
    transition: color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    background-color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    border-color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    border-radius 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    box-shadow 0.267s cubic-bezier(0.55, 0.55, 0, 1);

    min-height: 40px;
    padding: 0 40px 0 11px;
    font-size: 14px;
    font-weight: 500;
}

.combo-box-cat__input:hover {
    background-color: rgba(249, 249, 249, 0.5);
}

.combo-box-cat__input:disabled {
    color: rgba(0, 0, 0, 0.3614);
    background-color: rgba(249, 249, 249, 0.3);
}

.combo-box-cat__arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.combo-box-cat__arrow i {
    color: #666666;
    font-size: 12px;
}

.combo-box-cat__body {
    position: absolute;
    left: 0;
    top: 39px;
    display: none;
    width: 100%;
    max-height: 460px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0778); /* 0.0578 */
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 1px rgba(0, 0, 0, 0.0778); /* 0.0578 */
    overflow-y: auto;
}

.combo-box-cat__category {
    width: 100%;
    /* height: 80px; */
}

.combo-box-cat__category-item {
    background-color: #FFFFFF;
    transition: background-color 0.167s ease,
    padding 0.167s ease;
}

.combo-box-cat__category-item:hover {
    background-color: #FAFAFA;
    padding-left: 4px;
}

.combo-box-cat__category-item, .combo-box-cat__item-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.combo-box-cat__item-ico {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.combo-box-cat__item-ico i {
    color: rgba(0, 91, 255, 0.5);
    font-size: 24px;
}

.combo-box-cat__item-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.combo-box-cat__item-name {
    font-size: 14px;
    font-weight: 500;
}

.combo-box-cat__category-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.combo-box-cat__category-arrow i {
    color: #666666;
    font-size: 12px;
    transition: transform 0.267s cubic-bezier(0.55, 0.55, 0, 1);
}

.combo-box-cat__item-body {
    display: none;
    width: 100%;
}

.combo-box-cat__item {
    background-color: #F5F5F5;
    transition: background-color 0.167s ease,
    padding 0.167s ease;
}

.combo-box-cat__item:hover {
    background-color: #FAFAFA;
    padding-left: 4px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.combo-box-cat__search-message-body {
    display: none;
    width: 100%;
    padding: 16px 0;
    text-align: center;
}

.combo-box-cat__search-message {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

/*  -----  */

.body-block {
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.data-input {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.data-input__input-body {
    width: 18.555%!important;
}

/*  --- BEM ---  */

.van-draw {
    margin: 50px 0;
}

.van-draw__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.van-draw__column {
    margin: -30px 0;
}

.van-draw__frame {
    display: block;
    margin: 30px 0;
    background-color: #f5f5f5;
    border: 1px solid #DADADA;
}

.options {
    margin-bottom: 50px;
}

/* UI Elements */

.button {
    border-radius: 4px;
    transition: color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    background-color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    border-color 0.267s cubic-bezier(0.55, 0.55, 0, 1);
    outline: none;
    cursor: pointer;
}

.button_small {
    min-width: 96px; /* 96px / 120px */
    height: 32px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
}

.button_medium {
    min-width: 108px; /* 96px / 120px */
    height: 40px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
}

.button_accent {
    color: #FFFFFF;
    background-color: #005FB8;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.button_accent:hover {
    background-color: rgba(0, 95, 184, 0.9);
    border-color: rgba(255, 255, 255, 0.08);
}

.button_accent:active {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 95, 184, 0.8);
    border-color: rgba(255, 255, 255, 0.08);
}

.button_accent:disabled {
    background-color: rgba(0, 0, 0, 0.2169);
    border-color: rgba(0, 0, 0, 0.02169);
}

.button_standart {
    color: #303030;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0778); /* 0.0578 */
    box-shadow: 0 1px rgba(0, 0, 0, 0.0778); /* 0.0578 */
}

.button_standart:hover {
    background-color: rgba(249, 249, 249, 0.5);
}

.button_standart:active {
    color: rgba(0, 0, 0, 0.6063);
    background-color: rgba(249, 249, 249, 0.3);
}

.button_standart:disabled {
    color: rgba(0, 0, 0, 0.3614);
    background-color: rgba(249, 249, 249, 0.3);
}

.text-box {
    position: relative;
    width: fit-content;
}

/* .text-box::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #005FB8;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 1;
} */

.text-box__input {
    display: block;
    width: 100%;
    color: #303030;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0778); /* 0.0578 */
    border-radius: 4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.0778); /* 0.0578 */
    outline: none;
    transition: color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    background-color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    border-color 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    border-radius 0.267s cubic-bezier(0.55, 0.55, 0, 1),
    box-shadow 0.267s cubic-bezier(0.55, 0.55, 0, 1);
}

.text-box__input_small {
    min-height: 32px;
    padding: 0 11px;
    font-size: 14px;
    font-weight: 500;
}

.text-box__input_medium {
    min-height: 40px;
    padding: 0 11px;
    font-size: 14px;
    font-weight: 500;
}

.text-box__input:hover {
    background-color: rgba(249, 249, 249, 0.5);
}

.text-box__input:focus {
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    border-bottom-color: #FFFFFF;
    box-shadow: 0 2px #005FB8;
}

.text-box__input:disabled {
    color: rgba(0, 0, 0, 0.3614);
    background-color: rgba(249, 249, 249, 0.3);
}

.text-box_label-body {
    margin-bottom: 8px;
}

.text-box_label {
    color: #303030;
    font-size: 14px;
    font-weight: 500;
}




